.users {
  color: white;

  h1 {
    color: white;
  }

  .search-bar {
    margin: 10px 0;
    padding: 8px;
    width: 100%;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: transparent;
    color: white;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-weight: 400;
    min-width: 800px;





    th,
    td {
      border: 1px solid #ddd;
      padding: 10px;
      text-align: left;
      
    }

    th {
      background-color: transparent;
      font-weight: 700;
    }
    .namelink a{
      color: var(--bgcolor3);
      color: orange;
    }

    tr:nth-child(even) {
      background-color: var(--bgcolor2);
    }

    tr:hover {
      background-color: var(--copurple);
      
    }

    .editable {
      cursor: pointer;
      color: blue;
      text-decoration: underline;
    }
  }
  .icon-delete{
    text-align: center;
  }
  .action-btn {
    margin: 0 5px;
    cursor: pointer;
    font-size: 16px;
    border: none;
    background: none;
  }

  .action-btn.delete {
    color: red;
  }

  .popup-content {
    width: auto;
  }

  .popup-modal {
    background: white;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }

  .popup-actions {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
  }

  .confirm-btn {
    background: #f44336;
    color: white;
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .cancel-btn {
    background: #ccc;
    color: #333;
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .confirm-btn:hover {
    background: #d32f2f;
  }

  .cancel-btn:hover {
    background: #bbb;
  }

  .pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

  .pagination button {
    padding: 5px 10px;
    margin: 0 5px;
    cursor: pointer;
  }

  .pagination button.active {
    background-color: #007bff;
    color: white;
  }

  .pagination button:disabled {
    cursor: not-allowed;
    background-color: #ccc;
  }
}